<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Manage Employee</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <div class="container">
      <h2>Employee List</h2>
      <a class="btn btn-primary" th:href="@{/addEmployeeForm}">Add Employee </a>
      <a class="btn btn-primary" th:href="@{/search-form}">Search Employee </a>
      <br />
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Conduct</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="employee: ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.contact}"></td>
            <td>
              <a
                th:href="@{/updateEmployeeForm(employeeId=${employee.id})}"
                class="btn btn-primary"
                >Update</a
              >
            </td>
            <td>
              <a
                methods="delete"
                th:href="@{/deleteEmployee(id=${employee.id})}"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
