<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <head>
    <meta charset="UTF-8" />
    <title>Search Employee</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Employee Manager</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <h1>Search</h1>
    <div class="container">
      <form method="get" class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter email" />
          <span class="input-group-addon"
            ><button type="submit">Search</button>
          </span>
        </div>
      </form>
    </div>
  </body>
</html>
