<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <head>
    <meta charset="UTF-8" />
    <title>Search Employee</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Employee Manager</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <h1>Search</h1>
    <div class="container">
      <form method="get" class="form-group" th:object="${employees}">
        <div class="input-group">
          <input
            type="search"
            class="form-control"
            placeholder="Enter email"
            th:field="*{name}"
          />
          <span class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary bg-primary">
              search
            </button>
          </span>
        </div>
      </form>

      <br />
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Contact</td>
          </tr>
        </thead>

        <tbody></tbody>
      </table>

      <a th:href="@{/}" class="btn btn-primary">Back to List</a>
    </div>
  </body>
</html>
